@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pattaya&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    border:0
}
body{
    font-family: "Poppins",sans-serif;
}

/* Navigation Bar */

#logo{
    float: left;
    color: rgb(148, 93, 11);
    margin-left: 100px;
    font-family: "Pattaya", sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}
#menu{
    font-size: 110%;
    letter-spacing:4px;
    margin-right: 90px;
}
#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: rgb(148, 93, 11);
}

#menu a:hover{
    border-bottom: 1px solid rgb(116, 72, 8);;
}

.active{
    border-bottom: 1px solid rgb(116, 72, 8);;
}